@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
body{
    font: normal 16pt arial;
    background:rgb(43, 120, 156);
    color: white;
}

h1{
    font-family: cursive, Caveat;
    margin-left: 100px;
    margin-bottom: 10px;
    font-size: 50px;
}
button{
    padding: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
    border: solid 2px black;
    border-radius: 8px;
    font-size: 20pt;
}
button:hover{
    color: white;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    
}
section{
    margin-left: 50px;
}