@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
body{
    font:  normal 16pt arial;
    background:rgb(43, 120, 156);
    color: rgb(255, 255, 255);
}
h1{
    font-family: Caveat, cursive;
    margin-left: 100px;
}

button{
    font: normal  arial;
    font-size: 16pt;
    padding: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: 1s;
}
#res {
    margin-left: 100px;
}